h1{
text-align: center;
background-color: antiquewhite;
}

a{
    text-decoration: none;
    padding: 4px;
    background-color: rgba(137, 43, 226, 0.479);
    border-radius: 10px;
    text-align: center;
}
